<html>
<head>
    <title>stroke detection</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand mx-auto h1">STROKE PREDICTION</span>
</nav>
<br>
<br>
<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src=".../100px100/" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Pooja</h5>
            <p class="card-text"><a href=Email.id>email@gmail.com</a></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src=".../100px200/" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Muskan</h5>
            <p class="card-text"><a href=Email.id>email@gmail.com</a></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src=".../100px200/" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Saloni</h5>
            <p class="card-text"><a href=Email.id>email@gmail.com</a></p>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<footer class="text-light bg-dark">
    <p>&copy; Created By <a href="https://github.com/itskshivam1318/" target="_blank">Muskan, Pooja, Saloni</a></p>
</footer>
</body>
</html>