<html>
<head>
    <meta charset="UTF-8">
    <title>Request Example</title>
</head>
<body>
<form method = "POST" action="/temperature">
    zipcode: <input type="text" name="zip">
    <input type="submit">
</form>
<form method ="POST" action = "/latlong">
    lat: <input type="text" name="lat">
    long: <input type="text" name="long">
    <input type="submit">
</form>
<form method="POST" action="/city">
    city:<input type="text" name ="city">
    state:<input type="text" name="state">
    <input type="submit">
</form>
</body>
</html>